html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    background: #fff url(hanabi.jpeg)  0 0 no-repeat;
    background-size: cover;
}

#sample{
    display: none;
}
    
h1.bang{
    color: #fff;
    font-size: 100px;
    font-weight: 100;
    margin: 15px;
    margin-top: 100px;
   font-family: 'Josefin Slab', serif;
}

h2{
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    margin-left: 55px;
}


#bo{
    width: 100%;
    overflow: hidden;
    padding: 6px 0px;
}

nav{
    width: 20%;
}

nav li{
    list-style-type: none;
    margin-top: 2px;
}

nav a{
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 14px 16px 0px;
    transition: 1.0s;
    font-family: 'Josefin Slab', serif;
}

#bo a.fbbutton{
    font-size: 16px;
    color: #d6d6d6;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 10px 30px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#bo a.fbbutton:active {
    background-color: rgba(230, 230, 230, 0.6);
    color: rgba(230, 230, 230, 0.6);
}

.fbbutton .edge{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

.fbbutton .edge1{
    width: 1px;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    transition-delay: 0.2s;
}

.fbbutton .edge2{
    height: 1px;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.fbbutton .edge3{
    width: 1px;
    left: auto;
    right: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    transition-delay: 0.2s;
}

.fbbutton .edge4{
    height: 1px;
    top: auto;
    bottom: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

a.fbbutton:hover .edge{
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}





