html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}


body{
    background-color: #fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100%;
}

@font-face {
    font-family: 'kajuden-fontfull1regular';
    src: url('../font/kajudenfont-full-regular-webfont.eot');
    src: url('../font/kajudenfont-full-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kajudenfont-full-regular-webfont.woff') format('woff'),
         url('../font/kajudenfont-full-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


.photo{
    padding: 10%;
    margin: 0 auto;
    font-family: 'kajuden-fontfull1regular';
}

img{
    float: left;
    width: 60%;
    margin-right: 5%;
}

.slab{
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

.slabtexted .slabtext{
	display:-moz-inline-box;
	display:inline-block
	white-space:nowrap;
}
.slabtextinactive .slabtext{
	display:inline;
	white-space:normal;
	font-size:1em !important;
	letter-spacing:inherit !important;
	word-spacing:inherit !important;
	*letter-spacing:0 !important;
	*word-spacing:0 !important;
}
.slabtextdone .slabtext{
	display:block
}